@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<dt191gProjectApp.Models.Workout>
@{
    ViewData["Title"] = "Träningspass";

    string[] days = { "Måndag", "Tisdag", "Onsdag", "Torsdag", "Fredag", "Lördag", "Söndag" };

}

@if (SignInManager.IsSignedIn(User))
{
    <h2>Schema träningspass</h2>

    @if (User.IsInRole("Admin"))
    {

    <div class="pagelinks">
    <a class="handle" asp-controller="Admin" asp-action="AddWorkout">+ </a>
    <p>Lägg till ett pass</p>
    </div>
        
 
    <div class="schedule">
        @foreach(var day in days){
        <div class="scheduleday">
            
            <h3>@day</h3>
            <ul>
                @if (Model != null)
                {
                    var objects = Model.OrderBy(workout => workout.Time);

                    @foreach (var workout in objects)
                    {
                        @if (workout.DayofWorkout == day)
                        {

                            <li><div class="details"><p class="schedTime">Kl @workout?.Time</p>
                                <strong>@workout?.TypeOfWorkout?.TypeName </strong>
                                <p class="trainer">Instruktör: @workout?.Trainer</p>
                                </div>
                                <div class="bookinfo">
                                @if(workout?.Bookings != null)
                                    {
                                        
                                        <p class="countbooked">@workout.Bookings.Count av 5 bokade</p>
      
                                    }else {<p class="countbooked">0 av 5 bokade</p> }
                                </div>
                                <div class="schedbuttons">
                                    
                                   <a class="AddEdit" asp-controller="Admin" asp-action="EditWorkout" asp-route-id="@workout?.WorkoutId">Edit</a> 
                                   <a class="delete" asp-controller="Admin" asp-action="DeleteWorkout" asp-route-id="@workout?.WorkoutId">Ta bort</a>

                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        }
    </div>
    }
}


