@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{margin:0; padding:0; box-sizing:border-box;}

html{
    scroll-behavior:smooth;
}
body, button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  margin-bottom: 60px;
}

a{text-decoration:none;}

ul {
    list-style:none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}
.hidden{color:transparent;}

header {
    position:fixed;
    width:100%;
    top:0;
    padding: 10px 10px 5px 10px;
    background-color: rgb(0, 27, 74, 0.9);
    z-index:1;
}
/* Navigering*/
header nav {
    max-width:1200px;
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

#logo{

    width:105px;
    margin-top:6px;
    margin-right:20px;
    margin-bottom:10px;
}

#logo h1{ font-size:1.9em; font-weight:500;padding-bottom:5px; text-align:center; color:rgb(255, 165, 23); transition: all 0.2s;}

#logo h1:hover { opacity:0.7;}

nav ul{
    display:flex;
    justify-content:left;
    gap:15px;
    
}

nav ul li a{color:rgb(239, 244, 255);}

nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 165, 23);
    transition: width .3s;
}

nav ul li a:hover::after {
    width: 100%;
    transition: width .3s;
}

header button {
    margin-left: 5px;
    font-size: .9em;
    background-color: transparent;
    padding:5px;
    border:0;
    outline: none;
    color:rgb(239, 244, 255);
    cursor: pointer;
    margin-top: 3px;
    transition:all 0.2s;
}
header button:hover {color: rgb(255, 165, 23);}

.mainnav {
    display:none;
    
}
.accountlist {
    display:none;
}
.usernav img{
    width:40px;
    padding:0 5px 0 5px;
    margin-top:6px;

}
.logoutli {
    padding-left:10px;border-left: 1px solid rgb(85, 103, 135);margin-top:3px;
}

.beforelogin{margin-top:9px;}

/*Mobilnavigering*/

#openMobnav {
    margin-top:14px;
    margin-right:10px;
    display:block;
    width: 36px;
    height: 3px;
    padding: 0;
    background-color: rgb(233, 157, 0);
    border-radius:4px;
}
#openMobnav:before {
   display: block;
   content: "";
   font-size: 0em;
   padding: 1.5px 16px 1.5px 16px;
   background-color: rgb(233, 157, 0);
   margin-top:8.5px;
   border-radius:4px;
}
#openMobnav:after {
    display:block;
    content: "";
    font-size: 0em;
    padding: 1.5px 16px 1.5px 16px;
    background-color: rgb(233, 157, 0);
    margin-top:6px;
    border-radius:4px;
}

#mobnavlist {
    display:block;
    height:0;
    overflow:hidden;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    transition:all 0.2s;
}
#mobnavlist ul {
    display:block;
}

#mobnavlist ul.usernav{
    display:flex;
    text-align:center;
    width:fit-content;
    margin:0 auto;
    padding:30px 0 15px 0;
}

#mobnavlist ul li { width:100%;border-bottom:1.5px solid rgb(83, 109, 158);}
#mobnavlist a {display:block; padding:30px 0 30px 0;}

#mobnavlist .usernav a {padding:0;}
#mobnavlist ul.usernav li {
        border-bottom: 0;
}

#mobnavlist a.alogin{
   padding-left:15px;border-left: 1px solid rgb(85, 103, 135);margin-top:10px;
}


#banner {
    padding: 130px 20px 20px 20px;
    background-color: rgb(0, 20, 55);
    margin-bottom: 30px;
}

#banner .arrow {
    position:relative;
    z-index:-1;
    background-color: rgb(0, 20, 55);
    margin-left:18%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-bottom: -60px;
    transform:rotate(45deg);
}

.bannerbox{
    max-width:1200px;
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:20px;
    min-height:fit-content;
    padding-bottom:50px;
}

.bannerinfo{
    flex:40%;
    max-width:450px;
    display:inline-block;
    margin:0 auto;
}

.bannerimgInfo {
    flex: 100%;
    max-width: 450px;
    min-width:240px;
    width: 100%;
    opacity:0.9;
    text-align:center;
    margin:0 auto;
}
.bannerimgInfo img {
    width:100%;
}

#banner h2{
    padding:20px 0 10px 0;
    color:rgb(255, 165, 23);
    margin:0;
    font-weight:500;
    font-size:2.5em;
}

#banner h3 {
    color:rgb(184, 203, 237);
    line-height:1.5;
    font-size:1.5em;
    font-weight:400;
    max-width:450px;
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1.5px solid rgb(30, 46, 75);
}

#banner p {
    font-size:1em;
    color:rgb(219, 230, 255);
}
.bannerbuttons {
    margin-top:50px;
}
.bannerbuttons a {
    display:inline-block;
    text-align:center;
    border-radius:10px;
    padding: 10px;
    margin-right: 15px;
    border: 2px solid rgb(184, 203, 237);
    color:rgb(184, 203, 237);
    font-weight:500;
    margin-bottom:15px;
    transition: all 0.2s;
}

.bannerbuttons a:hover {
    background-color:rgb(184, 203, 237);
    color:rgb(0, 20, 55);
} 

a.bannerlogin{
    display:block;
    max-width:400px;
    width:100%;
}

.bannerbuttons p{
    color:rgb(255, 165, 23);
    margin-bottom:5px;
}

.message{
    max-width:285px;
    border-left:2px solid rgb(28, 59, 116);
    padding:10px;
    background-color:rgb(226, 234, 248);
}
.deletemessage {
    max-width: 285px;
    border-left: 2px solid rgb(226, 139, 0);
    padding: 10px;
    background-color: rgb(246, 230, 204);
}
.message p { font-size:0.9em; font-weight:bold; color:rgb(23, 39, 68);}
.deletemessage p { font-size:0.9em; font-weight:bold; color:rgb(211, 130, 0);}

.todaymsg:before {
    position:absolute;
    content: "!";
    font-size: 2.5em;
    font-weight:500;
    margin-top:-15px;
    margin-left:-12px;
    color: rgb(245, 150, 0);
}
.todaymsg{padding-left:5px;}

.container {
    padding-top: 140px;
    width: 94%;
    margin: 0 auto;
}

main {

    max-width:1200px;
    width:100%;
    margin:0 auto;
    min-height:70vh;
}

main h2{margin-bottom:20px; font-size:1.5em;}
main p {font-size:1em; line-height:1.5;}
.pagelinks p {display:inline-block; font-size:.95em; color:rgb(128, 128, 128);}
.handle {
    display:inline-block;
    padding:1px 10px 4px 10px;
    text-align:center;
    font-weight:bold;
    margin-right:2px;
    margin-top:10px;
    font-size:1.5em;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.18), 0 1px 3px 0 rgba(0, 0, 0, 0.18);
    border-radius:30px;
    color:rgb(226, 139, 0);
}

#conceptlist{margin-top:-70px; scroll-margin-top:100px;}

.intro {
    max-width:400px;
    font-weight:500;
    color:rgb(0, 20, 55);
}
.concepts {
    margin-top: 25px;
    display: flex;
    justify-content: left;
    gap: 15px;
    flex-wrap: wrap;
}

.concepts ul {
    min-width:260px;
    max-width:355px;
    flex:20%;
    padding:15px;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.18), 0 1px 3px 0 rgba(0, 0, 0, 0.18);
    border-radius:10px;
    background-color: rgb(23, 39, 68);
    
}
.concepts li{color: rgb(180, 197, 229);}
.typetitle {
    font-size: 1.5em;
    font-weight:bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1.5px solid rgb(226, 139, 0);
}
.desc {
    font-size:1em;
    line-height:1.5;
}

.schedule {
    padding-top:15px;
    max-width:1200px;
    width:100%;
    gap:20px;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
}
.scheduleday {
    flex: 23%;
    min-width: 260px;
    max-width: 600px;
    background-color: rgb(19, 56, 123);
    min-height: 250px;
    border-radius:10px;
}
.scheduleday h3 {
    background-color:rgb(255, 255, 255, 0.6);
    font-size:1.1em;
    padding:10px;
    color:rgb(32, 51, 86);
}
.scheduleday ul{padding:10px;}

.scheduleday ul li {
    display:inline-block;
    width:100%;
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1.5px solid rgb(61, 93, 150);
}

.infoBookWorkout ul li{
    display:inline-block;
    width:100%;
}
.scheduleday button {
    display: inline-block;
    padding: 6px 10px 6px 10px;
    border-radius: 6px;
    color: white;
    border: 0;
    font-size: 1.1em;
    font-weight: 500;
}

li .details {
    display:inline-block;
    width:50%;
}

li .bookinfo {
    display: inline-block;
    float: right;
    text-align:right;
    width: 50%;
}
.schedTime {color:rgb(226, 139, 0); font-weight:bold;}
.scheduleday strong, .infoBookWorkout .strong {
    display: block;
    color: rgb(184, 203, 237);
    font-size: 1.2em;
    padding-bottom: 5px;
}
.trainer{color:rgb(184, 203, 237);}

.schedbuttons {float:right; margin-top:-15px;}
.schedbuttons a{
    display:inline-block;
    padding:6px 10px 6px 10px;
    border-radius: 6px;
    color:white;
    font-weight:500;
}
.AddEdit {
    background-color: rgb(117, 141, 186);
}
.delete {background-color:rgb(226, 139, 0);}

a.delete{ 
    display:inline-block;
    border-radius:10px; 
    color:rgb(251, 251, 251);
    font-weight:500;

}

.bookbox{
    position:absolute;
    background-color:rgb(0, 0, 0,0.9);
    z-index:1;
    width:100%;
    padding-top:100px;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.infoBookWorkout h3 {
    background-color: rgb(255, 255, 255, 0.6);
    padding: 15px 30px 15px 30px;
    color: rgb(32, 51, 86);
}
.infoBookWorkout ul{padding:30px;}
.infoBookWorkout {
    margin: 0 auto;
    max-width: 400px;
    min-height: 200px;
    background-color: rgb(19, 63, 142);
}

.infoBookWorkout input[type=submit]{
    border:0;
    background-color:transparent;
    font-size:1.1em;
    border-bottom:1px solid rgb(239, 141, 4);
    cursor:pointer;
}
.countbooked{color:rgb(226, 139, 0); margin:0 0 5px 0;}
.infoBookWorkout form {
    padding: 15px 30px 30px 30px;
}

.booked {
    font-weight: bold;
    text-align:right;
    color: rgb(78, 125, 212);
    font-size:1em;
    text-transform:uppercase;
}
.choice, .choice2{
    display:flex;
    justify-content:space-between;
}


.go {
    float:right;
    margin-top: 20px;
    color: rgb(23, 39, 68);
    font-weight:500;
    border-bottom: 1px solid rgb(239, 141, 4);
    transition:all 0.1s;
}
.go2 {
    color: rgb(23, 39, 68);
    font-weight: 500;
    border-bottom: 1px solid rgb(239, 141, 4);
    transition: all 0.1s;
    margin-right:15px;
}

.go:hover , .go2:hover{opacity:0.8;}


.choice2{padding:0 30px 30px 30px;}

/* Formulär*/

.adminformsh2{
    color:rgb(233, 157, 0);
    margin-bottom:10px;

}

form h3 {
    color: rgb(72, 72, 72);
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    border-bottom: 1.5px solid rgb(180, 197, 229);
}
.handleforms{

    max-width:600px;
    width:100%;
    padding:30px;
    margin:0 auto;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.18), 0 1px 3px 0 rgba(0, 0, 0, 0.18);
}

.handleforms form {
    max-width: 450px;
    width:100%;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 20px;
    width:100%;
}

.form-group input {
    width: 100%;
    border: 0;
    padding: 8px;
    outline:none;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.18), 0 1px 3px 0 rgba(0, 0, 0, 0.18);
    font-size:1em;
    color:rgb(70, 92, 134);
    margin-top:6px;
    transition: all 0.2s;
}

.form-group input:focus, .form-group input:hover, .form-group textarea:focus, .form-group textarea:hover {
    background-color: rgb(216, 227, 248);
    
}


.form-group select {
    margin-top:6px;
    width:100%;
    padding: 8px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.18), 0 1px 3px 0 rgba(0, 0, 0, 0.18);
    color:rgb(70, 92, 134);
    font-size:1em;
    outline: none;
    cursor: pointer;
    transition:all 0.2s;
}
.form-group select:hover, .form-group select:focus{
    background-color:rgb(216, 227, 248);
}

.form-group label, .time-group label, .daylabel {
        display: block;
        font-size: 0.8em;
        font-weight: 500;
        color: rgb(74, 74, 74);
}


.time-group {
    margin-bottom: 20px;
    width:fit-content;
}

.time-group input {
    font-size:1.3em;
    color:rgb(74, 74, 74);
    padding:8px 12px 8px 12px;
    margin-top:6px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.18), 0 1px 3px 0 rgba(0, 0, 0, 0.18);
    outline: none;
    cursor:pointer;
}

#weekbox {
    border-top: 1.5px solid rgb(180, 197, 229);
    border-bottom: 1.5px solid rgb(180, 197, 229);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 6px;
    padding: 15px 0 20px 0;
    margin-bottom: 20px;
}

#weekbox label{
    width:70px;
    text-align:center;
    cursor:pointer;
    color:rgb(70, 92, 134);
    font-weight:500;
}

#weekbox input{
    appearance:none;
    width:100%;
    height:50px;
    margin-top:-50px;
    position:relative;
    z-index:-1;
    border-bottom:2px solid rgb(184, 203, 237);
    transition: all 0.2s;
}
#weekbox input:checked, #weekbox input:hover{
    border-bottom:2px solid rgb(28, 59, 116);
    background-color:rgb(216, 227, 248);
}

textarea {
    margin-top:6px;
    width: 100%;
    min-height:200px;
    height:100%;
    border: 0;
    outline:none;
    padding:5px;
    border-radius: 10px;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.18), 0 1px 3px 0 rgba(0, 0, 0, 0.18);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.05em;
    color:rgb(70, 92, 134);
}

.text-danger {
    display:block;
    width:100%;
    color:rgb(245, 150, 0);
}

.submit-group {
    display:inline-block;
    width:100%;
    border-top: 1.5px solid rgb(180, 197, 229);
    padding-top:15px;
}

.submit-group input {
    padding:10px;
    margin-top:10px;
    border-radius:10px;
    outline:none;
    background-color:transparent;
    border: 2px solid rgb(23, 39, 68);
    color:rgb(23, 39, 68);
    font-weight:bold;
    cursor:pointer;
    transition: all 0.2s;
}
.submit-group input:hover {
    background-color:rgb(23, 39, 68);
    color:rgb(242, 247, 255);
}

form a.delete{
    padding:10px;
}

.submit-group input.delete, form a.delete {
    border: 2px solid rgb(226, 139, 0);
    color: rgb(226, 139, 0);
    background-color: white;
    transition: all 0.2s;
}

.submit-group input.delete:hover, form a.delete:hover{
    background-color:rgb(226, 139, 0);
    color:white; 

}

.profilelinks{
  display:inline-block;
  width:100%;
  padding-bottom:10px;
}

.profilelinks .rightlinks{ float:right;}

.personaldata {margin:10px 0 15px 0;}

footer {
    margin-top:150px;
    padding:50px 10px 10px 10px;
    border-top:1.5px solid rgb(189, 189, 189);
}

footer p {
    text-align:center;
}
footer strong { 
    display:block;
    margin-top:10px;
    font-weight:300;
    color:grey;

}

footer a { color: rgb(0, 20, 55); font-weight:500;}

@media screen and (min-width:500px){

    header nav {
        display: flex;
        justify-content:left;
        flex-wrap: wrap;
    }

    #logo {
        margin-top: 16px;
        padding-right: 10px;
        border-right: 2px solid rgb(240,154,4);
    }

    #openMobnav {
        display: none;
    }

    #mobnavlist {
        display: none;
    }

    .mainnav {
        display: flex;
        margin-top: 22px;
        max-width: 990px;
        flex: 33%;
    }

    .accountlist {
        display:block;
        margin-top: 13px;
        text-align: center
    }

    #banner {
        padding:120px 50px 50px 50px;
    }
    #banner .arrow {
        margin-bottom: -90px;
    }
    main {
        max-width: 600px;
        width: 100%;
    }

    .handleforms {
        padding: 50px;
    }
}
@media screen and (min-width:600px){
    .scheduleday {
        flex: 23%;
        min-width: 270px;
        max-width: 285px;
    }

    .bannerimgInfo {
        margin-top:20px;
        flex: 30%;
        min-width:350px;
    }

}

@media screen and (min-width:900px){
    main {
        max-width: 1200px;
        width: 100%;
    }

}